header {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 10px;
}
.menu-container{
    margin: 10px;
}
.menu {
    margin: 10px;
    display: flex;
}
li, a{
    margin: 10px;
    text-decoration: none;
}
