*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
header {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 10px;
}
.menu-container{
    margin: 10px;
}
.menu {
    margin: 10px;
    display: flex;
}
ul {
    list-style-type: none;
}
li, a{
    font-weight: 500;
    margin: 10px;
    color: black;
    text-decoration: none;
}
.cartIcon {
    cursor: pointer;
    
}
.itemsOnCart{
    position: absolute;
    top: 5rem;
    right: 2.3rem;
    min-height: 20rem;
    min-width: 30rem;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    background-color: beige;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.cartHeader{
    display: flex;
    height: 3rem;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}
.cartTitle {
    margin: 0;
}
.itemListContainer {
    background-color: beige;
    margin: 2.5% 5% 2.5% 5%;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}
.itemList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% ;
    background-color: white;
    width: 20rem;
    border-radius: 1rem;
    border:1px solid #333029;
    box-shadow: 0px 1px 0px 0px #1c1b18;
}
.itemImg {
    width: 15rem;
    height: 22rem;
    margin-top: 5%;
}
.itemDescription {
    margin: 2%;
}
.itemTitle {
    margin: 5%;
}
.itemStats {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    font-size: 0.6rem;
    font-weight: 700;
}
.itemDesc {
    margin: 5%;
    font-size: 0.6rem;
}
.itemCounterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4rem;
    height: 2rem;
}
.btnPlusMinus {
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:14px;
	font-weight:bold;
	padding:7px 10px;
    margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btnPlusMinus:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.btnPlusMinus:active {
	position:relative;
	top:1px;
}

.btnAddToCart {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:12px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btnAddToCart:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.btnAddToCart:active {
	position:relative;
	top:1px;
}